Creating heatmaps with GMaps

In [1]:
#import dependencies.
import pandas as pd
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nelson Bay,AU,2021=03-28 20:49:53,-32.7167,152.1500,63.0,100,75,4.61
1,1,Wilmington,US,2021=03-28 20:52:48,34.2257,-77.9447,82.4,51,1,20.71
2,2,Saint-Philippe,RE,2021=03-28 20:54:15,-21.3585,55.7679,77.0,83,0,6.91
3,3,Albany,US,2021=03-28 20:53:46,42.6001,-73.9662,52.0,88,100,7.54
4,4,Barrow,US,2021=03-28 20:50:05,71.2906,-156.7887,-23.8,83,1,10.36

In [3]:
#get the data types
city_data_df.dtypes

city_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

Next, create the heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.

1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length

3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.
fig.add_layer(heaatmap_layer)

6. Call the figure to plot the data.
fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. Attributes are added here
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.7)
# Assign the heatmap variable.
# replaced this code with below - heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity =300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Wilmington,US,2021=03-28 20:52:48,34.2257,-77.9447,82.40,51,1,20.71
2,2,Saint-Philippe,RE,2021=03-28 20:54:15,-21.3585,55.7679,77.00,83,0,6.91
9,9,Sao Paulo Do Potengi,BR,2021=03-28 20:54:16,-5.8950,-35.7628,84.20,70,40,11.50
10,10,Avarua,CK,2021=03-28 20:54:16,-21.2078,-159.7750,84.20,74,75,21.85
21,21,Douentza,ML,2021=03-28 20:54:19,14.9951,-2.9517,81.01,8,0,5.86
25,25,Atuona,PF,2021=03-28 20:54:20,-9.8000,-139.0333,81.05,72,100,17.16
28,28,Mahebourg,MU,2021=03-28 20:54:20,-20.4081,57.7000,75.20,94,20,1.14
30,30,Garissa,KE,2021=03-28 20:54:20,-0.4536,39.6401,84.52,52,88,11.21
48,48,Alofi,NU,2021=03-28 20:54:25,-19.0595,-169.9187,82.40,78,40,13.80
49,49,Joao Pinheiro,BR,2021=03-28 20:54:25,-17.7425,-46.1725,77.22,53,2,4.41

In [12]:
preferred_cities_df.count()

city_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
1             Wilmington      US     82.40  34.2257  -77.9447
2         Saint-Philippe      RE     77.00 -21.3585   55.7679
9   Sao Paulo Do Potengi      BR     84.20  -5.8950  -35.7628
10                Avarua      CK     84.20 -21.2078 -159.7750
21              Douentza      ML     81.01  14.9951   -2.9517
25                Atuona      PF     81.05  -9.8000 -139.0333
28             Mahebourg      MU     75.20 -20.4081   57.7000
30               Garissa      KE     84.52  -0.4536   39.6401
48                 Alofi      NU     82.40 -19.0595 -169.9187
49         Joao Pinheiro      BR     77.22 -17.7425  -46.1725

Retrieve Hotels from a Nearby Search
The first step for retrieving hotels from a Nearby Search is to set the parameters for the search.

Set the Parameters for a Nearby Search

To find the nearest establishment to geographic coordinates, use the Google Places Nearby Search request. First, navigate to the [Nearby Search requests](https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests%0D%0A) page.

Review the following documentation from the page.

The Nearby Search request lets us perform these tasks:

- Search for places within a specified area.
- Refine the search using keywords and specifying the type of place we are searching for.
- Use an API URL, where the output can be either XML or JSON format.

Although very similar to our OpenWeatherMap API search, with the Google Places Nearby Search, we'll add a specified area and keyword to search.

The documentation states we must provide specific parameters.

Specific parameters include:

1. Our API key
2. A location, which will be the latitude and longitude
3. A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
4. If we use the rankby=distance for a parameter, we need to add one or more of the three parameters above. We won't use the rankby=distance because we will be search based on the radius from a given latitude and longitude.

We can add optional parameters such as a keyword, a type of business, or the name of a business.

For our hotel search, we'll use these parameters:

1. API key
2. Latitude and longitude
3. 5,000-meter radius
4. Type of place

To discover the support types we can use, click on the link "list of supported types" in the optional parameters list (shown in the page link above) or navigate to the [Place Types guide](https://developers.google.com/maps/documentation/places/web-service/supported_types).

On the webpage, Table 1 shows all the different Place types values. "Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # this produces an index error need to use a try loop -
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Wilmington,US,82.40,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
2,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Sao Paulo Do Potengi,BR,84.20,-5.8950,-35.7628,Pousada e Restaurante Carne Assada do Ari
10,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
21,Douentza,ML,81.01,14.9951,-2.9517,Ogomono Doumbo

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))